.btnNormal {
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;
}

.btnNormal.red button {
    background-color: red;
    color: white;
}

.btnNormal button {
    border-color: #4d0000;
    font-size: 2.5rem;
    background-color: white;
    border: 1;
    padding: auto;
    flex: 1 0 auto;
}

.btnNormal.clear {
    width: 75%;
}